*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*Selector de etiqueta: afecta a las etiquetas ecin el nombre de*/
body{
    background: #0f1a3f;
}

.content-form{
    /*tamaño de ancho*/
    width: 350px;
    height: auto;
    /*color de fondo*/
    background-color:#14225098 ;
    /*padding es externo y margin interno*/
    margin: auto;
    margin-top: 10%;
    padding: 30px;/*mespacio de caja y botones*/
    border: solid 3px #0f1a3f;/*caracteristicas al contorno con tipo de borde*/
    border-radius: 5px; /*redondear esquinas*/
    /**/
    box-shadow: 15px 20px 100px #30317480;
}
h3,h4{
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 20px;
}

form{
    margin: auto;
}

.cajas-texto{
    width: 95%;
    margin-bottom: 20px;    
    margin-left: 5px;
    background-color: #22237c17;
    padding: 10px;
    border-radius: 5px ;
    border: 2px solid #242694c0;
    
}
/*Selector de id: afecta a los que conengan la id en la etiqueta html*/
#botones{
    width:100%;
    padding: 5px;
    margin-bottom: 10px;
    background: #2e308abe;
    border: 3px solid #242694c0;
    color: blanchedalmond;
    border-radius: 10px;   
    
}

/*Selector de clase: Hace u tipo de evento para clase o id*/
#botones:hover{
    background: #22237c17;
    border-color: #242694c0;
    color: #ffff;
    cursor: progress;                                                                              
    padding: 6px;
    box-shadow: 5px 5px 5px #242694c0;
}